# Data Files (Too large for GitHub)
*.csv
*.zip
*.rar
*.tar.gz

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# Python Virtual Env (Avoid ignoring Flutter lib)
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/  <-- Commented out to allow Flutter lib
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# FightIQ Specific
wandb/
artifacts/
.gemini/
